{% extends 'base_template.html' %}

{% block content %}
    <canvas id="canvas" width="640" height="480"></canvas>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    // global variable for setinterval 
    var stop;
    var wait = 1000;
    var keep_going = true;
        
    //paddle y, thickness, height
    p1y = p2y = 40;
    pt=10;
    ph=100;
    //ball x, y, dimension
    bx=by=50;
    bd=6;
        
    //track score
    score1=score2=0;
    
    // score to play to
    win_point = {{win_point}}
    
    // initial velocity of ball
    xv=yv=10;

    //audio
    var rebound_sound = new Audio("../static/door.mp3");
        
    
    // speed ai moves paddle
    var ais=10;

    // get score and add value to hidden form
    var calculate_score = function() {
       // console.log("submit " + score1 + ", " + score2);

        // show hidden form
        document.getElementById("form-hidden").style.display ="block";

        // calculate score, may be redundant if function is just used to toggle view, but isn't expensive
        document.getElementById("score").value = score1-score2;
    };

    // restart game
    var play_again = function(){
        //hide submit form
        document.getElementById("form-hidden").style.display ="none";

        //reset scores
        score1 = score2 = 0;
        // reset ball and paddles
        reset()

        // start game loop
        keep_going = true;
        stop = setInterval(update, 1000/30);
    }


    // main game
    window.onload=function(){
        canvas=document.getElementById("canvas");
        canvas_context = canvas.getContext("2d");
        
        // frame rate for game
        stop = setInterval(update, 1000/30);
        
        //user controls
        canvas.addEventListener("mousemove", function(e){
            // keep center of paddle 1 at location of users mouse
            p1y = e.clientY-ph;
        });
    }
    
    function reset(){
        // center ball
        bx = canvas.width/2;
        by = canvas.height/2;
        
        // reverse x velocity
        xv = -xv;
        
        // start ball moving
        yv = 3;
    }
    
    function update(){
        if (score1 == win_point){
            keep_going = confirm("You lost\nDo you want to play again?");
            
            if(!keep_going){
                clearInterval(stop);
                calculate_score()
            }
            
            else{
                score1 = score2 = 0;
                reset();
            }
        }
        
        if (score2 == win_point){
            keep_going = confirm("You lost\nDo you want to play again?");
            if(! keep_going){
                clearInterval(stop);
                calculate_score()
            }
            
            else{
                score1 = score2 = 0;
                reset();
            }
        }
        
        // move ball, add velocity to coordinate of ball
        bx+=xv;
        by+=yv;
        
        // bounce ball at edges of screen
        // if ball is at bottom of screen trying to move down
        if(by < 0 && yv < 0){
            // reverse y velocity
            yv = -yv
        }
        // if ball is at top of screen trying to move up
        if(by > canvas.height && yv > 0){
            // reverse y velocity
            yv = -yv
        }
        
        // if ball is at left side of screen
        if(bx<0){
            // if ball is above bottom of paddle and below top of paddle, bounce it
            if(by>p1y && by <p1y+ph){

                //play rebound sound
                if(play_fx){
                    rebound_sound.play();
                }

                // reverse x velocity
                xv = -xv;
                // reduce y velcoity depending on where on the paddle the ball hits
                dy=by-(p1y+ph/2);
                yv=dy*0.3;
            }
            // paddle1 missed ball
            else{
                // award player 2 one point, reset game
                score2++;
                reset();                 
            }
        }
        
        // if ball is at right of screen
        if(bx>canvas.width){
            // if ball is above bottom of paddle and below top of paddle, bounce it
            if(by>p2y && by <p2y+ph){

                //play rebound sound
                if(play_fx){
                    rebound_sound.play();
                }

                // reverse x velocity
                xv = -xv;
                // reduce y velcoity depending on where on the paddle the ball hits
                dy=by-(p2y+ph/2);
                yv=dy*0.3;
            }
            // paddle1 missed ball
            else{
                // award player 1 one point, reset game
                score1++;
                reset();                
            }
        }
        
        // player 2 is ai, will try to keep center of paddle 2 in line with ball y coordinate
        if(p2y+ph/2 < by){
            requestAnimationFrame(function(){
                p2y += ais;
            });
        }else{
            p2y -= ais;
        }
        
        
        canvas_context.fillStyle = "black";
        canvas_context.fillRect(0, 0, canvas.width, canvas.height);
        
        
        canvas_context.fillStyle = "white";
        // draw paddles, that's a paddlin
        canvas_context.fillRect(0, p1y, pt, ph);
        canvas_context.fillRect(canvas.width-pt, p2y, pt, ph);
        
        // ball
        canvas_context.fillRect(bx-bd/2, by-bd/2, bd, bd);
        
        //score1 on left of screen, score2 on right
        canvas_context.fillText(score1, 100, 100);
        canvas_context.fillText(score2, canvas.width-100, 100);
        
    }
        
    </script>

<form id="form-hidden" class="form-horizontal" role="form" method="post" action="">
    <div class="form-group">
        <p class="form-inputs">
            {{ form.username(placeholder="name") }}
            {% for error in form.username.errors %}
                <span style="color: red;">* {{ error }}</span>
            {% endfor %}
            <!--<input id="score" type="text">-->
            {{ form.score(id="score") }}
            <input type="submit" value="submit score" class="btn btn-default">
            <input type="button" value="cancel" class="btn btn-default" onclick="play_again()">
    </div>
</form>

{% endblock %}
