{% extends 'base_template.html' %}

{% block content %}

<div class="container">
    <p>highlight is {{highlight}}</p>
    <table>
        <tr>
            <th>Name</th>
            <th style="text-align: right">Score</th>
        </tr>
        {% for value in leaderboard %}
            <tr>
                {% if value[0] == highlight %}
                    <td style="background-color: #4CAF50">{{value[0]}}</td>
                    <td style="background-color: #4CAF50; text-align: right">{{value[1]}}</td>
                {% else %}
                    <td>{{value[0]}}</td>
                    <td style="text-align: right">{{value[1]}}</td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}