{% extends 'base_template.html' %}

{% block content %} <!-- the linked templates have matching block statements named "content" -->


<form class="form-horizontal" role="form" method="post" action="" name="login">

    <div class="form-group">
        <p class="form-inputs">
            {{ form.username(placeholder="name") }}
            {% for error in form.username.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
                <span style="color: red;">* {{ error }}</span>
            {% endfor %}
        </p>
        <p class="form-inputs">
            {{ form.score(placeholder="score") }}
            {% for error in form.score.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
                <span style="color: red;">* {{ error }}</span>
            {% endfor %}
        </p>
        <br>
        <p class="form-inputs">
            <input type="submit" value="submit score" class="btn btn-default">
        </p>
        {% if error != None %}
            <p style="color: red;"> {{ error }} <p>
        {% endif %}
    </div>
</form>
{% endblock %}